<section class="flex h-[650px] divide-x-2 divide-[#F9F6F2]">
  {% for block in section.blocks %}

    {% case block.type %}

    {% when 'product' %}
      <article class="flex relative p-8 flex-col justify-between w-[517px] h-full">
        <img class="absolute brightness-50 h-full w-full left-0 top-0 right-0 bottom-0 object-cover z-[-100]" src={{ block.settings.product.featured_image | image_url }}/>
        <h3 class="font-americana text-white uppercase text-3xl">{{ block.settings.label }}</h3>
        <div class="flex flex-col gap-16 border-t-[1px] border-solid border-[#F9F6F2]">
          <p class="font-lato text-white text-sm mt-8">{{ block.settings.description }}</p>
          <a href={{ block.settings.button-link }} class="w-full flex items-center justify-center text-white font-lato uppercase py-2 border-solid border-[#F9F6F2] border-[1px] rounded-full transition-all cursor-pointer hover:bg-[#F9F6F2] hover:text-black">
            {{ block.settings.button-text }}
          </a>
        </div>
      </article>
    {% endcase %}

  {% endfor %}
</section>

{% schema %}
{
    "name": "Gallery",
    "enabled_on": {
        "templates": ["*"]
    },
    "settings": [],
    "max_blocks": 4,
    "blocks": [
      {
        "name": "product",
        "type": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "label",
            "label": "Product Label"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Product Description"
          },
          {
            "type": "page",
            "id": "button-link",
            "label": "Product Page"
          },
          {
            "type": "text",
            "id": "button-text",
            "label": "Button Text"
          }
        ]
      }
    ],
    "presets": []
}
{% endschema %}